* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vw;

}

.form {
    width: 500px;
    padding: 6px;
    padding-top: 300px;
}

input, textarea {
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    margin: 6px 0px;
    background-color: skyblue;
    color: white;
}

#send {
    width: 150px;
    padding: 6px;
    cursor: pointer;
    background-color: skyblue;
    color: white;
}
